* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header ul {
    margin-right: 20px;
    display: flex;
    list-style: none;
    gap: 20px;
}

.header ul a {
    text-decoration: none;
    color: #fff;
}

.header .main {
    font-weight: bold;
    margin-left: 20px;
}

.intro {
    background-color: #1F2937;
    display: flex;
    padding: 100px;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.intro .title {
    color: #F9FAF8;
    font-size: 40px;
    font-weight: 900;
}

.intro p {
    color: #E5E7EB;
    font-size: 18px;
}

.intro img {
    flex-shrink: 0;
    min-width: 300px;
    max-height: 200px;
}

.intro .text {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.intro button {
    max-width: 150px;
    padding: 15px;
    text-align: center;
    background-color: #3882F6;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border-style: none;
}

.content-1 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.content-1 .title {
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-1 .boxes {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-1 div,
.box-2 div,
.box-3 div,
.box-4 div {
    margin-top: 20px;
    border: solid;
    padding: 20px;
    min-height: 80;
    border-radius: 20px;
    text-align: center;
    border-color: #1F2937;
    border-width: 2px;
    color: #1F2937;
    font-size: 20px;
}

.boxes div a {
    margin-bottom: auto;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    font-family: 'Japanese', sans-serif;
    color: #5D3FD3;
}

.box-4 i {
    font-weight: bold;
}


.content-2 {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px 100px;
    flex-direction: column;
    gap: 10px;
}

.content-2 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.content-2 .sub-quote {
    font-style: italic;
    font-weight: lighter;
}

.content-2 .author {
    align-self: flex-end;
}

.sign-up {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 30px 50px;
    border-radius: 10px;
    color: #fff;
}

.sign-up .main {
    font-weight: bold;
    font-size: large;
}

.sign-up .sub {
    font-weight: lighter;
}

.sign-up button {
    padding: 10px 30px;
    color: #fff;
    background-color: #3882F6;
    border: solid 2px;
    border-radius: 10px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 30px;
    max-width: 100%;
    color: #fff;
    font-weight: lighter;
}

.footer a {
    text-decoration: none;
    color: #fff;
}